@import '../../scss/media';
@import '../../scss/mixin';
@import '../../scss/varible';
@import '../../scss/restext';


.work-wrap{
    overflow: hidden;
}

.work{
 

    z-index: 3;

    img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        bottom: 0;
        top: 0;
    }

position: relative;

    height: 50vh;
    
    @include flex(center, center, column, 40px);
    
    h1{
        font-size: 130%;
        z-index: 3;
        color: $white-color;
    }
    .work-icon{
        
        @include flex(center, center, row, 100px);
    }


    span{
        height: 50px;
        width: 50px;
        @include flex(center, center, row, 0);
      
        border-radius: 100px;
        padding: 10px;
        background-color: $yollow-color;
    z-index: 3;
    }

    button{
        height: 50px;
        width: 150px;
        text-align: center;
        
        border: 3px solid $yollow-color;
        text-transform: capitalize;
        font-weight: 500;
        border-radius: $border-redus-2;
        z-index: 3;
        font-size: 90%;
        color: $white-color;
        background-color: transparent;
    }


}
